/* Resetando os estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

/* Seção de projetos */
.project-list {
    padding: 20px;
    margin-top: 20px;
}

.project {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}

.project h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

.project p {
    margin: 10px 0;
}

.project h4 {
    margin-top: 20px;
    font-size: 1.2em;
}

/* Lista de tarefas */
ul {
    list-style-type: none;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

ul li strong {
    color: #4CAF50;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

footer p {
    font-size: 0.9em;
}
